@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

header {
  background-color: black;
}

.header-wrapper {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.header-logo-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-logo img {
  width: 10rem;
  margin: 1rem;
}

.shopping-cart img {
  background-color: #000;
  width: 1.2rem;
  margin-right: 1rem;
}

.search-bar-form {
  width: 90%;
  padding-bottom: 1rem;
  margin: 0 10%;
}

.search-field {
  position: relative;
}

.search-field img {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 1rem;
  height: 1rem;
}

.search-bar-input {
  height: 2rem;
  width: 80%;
  padding-left: 2rem;
  margin: 0;
  border-radius: 10px;
  border: none;
  outline: none;
}

@media (min-width: 500px) {
  .search-bar-form {
    position: absolute;
    width: 60%;
    top: 15px;
    left: 215px;
    padding: 0;
    margin: 0;
  }
}

.products {
  max-width: 900px;
  margin: 30px auto;
}

@media (min-width: 400px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 10px 5%;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 2px 0 rgb(0 0 0 / 10%);
  text-decoration: none;
  color: #000;
  border-radius: 1rem;
  transition: all 200ms ease-in-out;
}

.product:hover {
  box-shadow: 0px 1px 20px rgb(218, 218, 218);
}

.products img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.price_cart { 
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cart-button {
  background-color: #000;
  text-decoration: none;
  color: #fff;
  padding: 7px 15px;
  border-radius: 8px;
}
.cart-button:hover { 
  background-color: rgb(93, 93, 93);
}
/* SHOPPING CART <--------------------  */

